#search
  .view-editor(ng-mousedown="focusSearch($event)", ng-controller = "SearchCtrl")
    span(ng-class="{'one-line': editorOneLine, 'disable-highlighting': disableHighlighting}")
      .prompt.code-style $
      textarea('ui-codemirror'="{theme: 'neo', mode: 'text', autofocus: false, lineNumbers: true, lineWrapping: true, onLoad: codemirrorLoaded}",
        ng-model='search.content',
        placeholder='{{motd.tip}}'
        )
    ul.controls.inline
      li(tooltip-placement='bottom', tooltip='Execute')
        a.balled.success('ng-click' = 'search.execScript(search.content)', ng-class="{active: search.content}")
          i.icon-play

    .message-bar.error.slide-down(ng-if='search.showMessage', ng-class="search.errorCode")
      span(ng-bind-html-unsafe="search.errorMessage")
      |  Type <code click-to-code="':help'">:help</code> for a list of available commands.
      .actions
        a.icon-remove(ng-click='search.showMessage = null')
